div(layout="column")
  div
    md-button(ng-click="$ctrl.createBlogPost()") create new
  md-card(ng-repeat="entry in $ctrl.entries")
    md-content
      ck-editor(content="entry.blogEntry.Content", is-editable="entry.enabled")
    md-card-actions
      md-button(ng-click="entry.enabled = !entry.enabled", ng-if="!entry.enabled") edit
      md-button(ng-click="$ctrl.saveEntry(entry)", ng-if="entry.enabled") save
      md-button(ng-click="$ctrl.deleteEntry(entry)") delete
