md-dialog
  form(name="LoginForm", novalidate)
    md-toolbar.md-toolbar-tools
      h2.md-display-2 Login
      span(flex)
      md-button.md-icon-button(ng-click="cancel()")
        md-icon(aria-label="Close dialog") close

    md-content.md-dialog-content
      md-input-container
        label E-Mail
        md-icon email
        input(name="email", type="email", ng-model="model.email", required, nf-reset-on-change="loginFailed")

      md-input-container
        label Password
        md-icon lock_outline
        input(name="password", type="password", ng-model="model.password", required, nf-reset-on-change="loginSuccessful")
        div(ng-messages="LoginForm.password.$error", md-auto-hide="true")
          div(ng-message="loginSuccessful").
            The email or password is incorrect

    md-dialog-actions
      md-button(ng-click="cancel()") Cancel
      md-button.md-primary(ng-disabled="LoginForm.$invalid", type="submit", ng-click="submit()") Login
