
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
bower_components

#Other
.idea
*.iml
*.log

/App/NavitasFitness/webapp

typings

/**/.vscode/.*

config.json
