md-dialog
  form(name="ResetPasswordForm", novalidate)
    md-toolbar.md-toolbar-tools
      h2.md-display-2 Reset Password
      span(flex)
      md-button.md-icon-button(ng-click="cancel()")
        md-icon(aria-label="Close dialog") close

    md-content.md-dialog-content
      md-input-container
        label E-Mail
        md-icon email
        input(name="email", type="email", ng-model="model.email", required)
        div(ng-messages="ResetPasswordForm.email.$error", md-auto-hide="true")
          div(ng-message="NotFound").
            E-mail is invalid

    md-dialog-actions
      md-button(ng-click="cancel()") Cancel
      md-button.md-primary(ng-disabled="LoginForm.$invalid", type="submit", ng-click="submit()") Reset
