md-dialog
  form(name="RegistrationForm", novalidate)
    md-toolbar.md-toolbar-tools
      h2.md-display-2 Create User
      span(flex)
      md-button.md-icon-button(ng-click="cancel()")
        md-icon(aria-label="Close dialog") close

    md-content.md-dialog-content
      md-input-container
        label Name
        md-icon perm_identity
        input(name="name", type="text", ng-model="model.name", required)

      md-input-container
        label E-Mail
        md-icon email
        input(name="email", type="email", ng-model="model.email", required, nf-reset-on-change="unique_constraint, invalid")
        div(ng-messages="RegistrationForm.email.$error", md-auto-hide="true")
          div(ng-message="unique_constraint").
            This e-mail address has already been registred
          div(ng-message="invalid").
            E-mail address is invalid

      md-input-container
        label Password
        md-icon lock_outline
        input(name="password", type="password", ng-model="model.password", required)

      md-input-container
        label Repeat Password
        md-icon lock_outline
        input(name="passwordRepeat", type="password", ng-model="model.passwordRepeat", required, nf-should-equal="password")
        div(ng-messages="RegistrationForm.passwordRepeat.$error", md-auto-hide="true")
          div(ng-message="nfShouldEqual").
            The two passwords do not match

      md-input-container
        md-tooltip.unrestrict-height(md-direction="Bottom")
          h4
            b Access ID
          p
            u ASE/ENG/AU (all)
            span :&nbsp;
            i AUID
          p
            u AAMS employees
            span :&nbsp;
            i AAMS initials
          p
            u AAMS students
            span :&nbsp;
            i Study no.
          p
            u INCUBA
            span :&nbsp;
            i KeyToken no.

        label
          span Access ID
          md-icon(style="font-size: 16px;") info_outline

        md-icon perm_identity
        input(name="accessId", ng-model="model.accessId", required, nf-reset-on-change="unique_constraint, invalid")
        div(ng-messages="RegistrationForm.accessId.$error", md-auto-hide="true")
          div(ng-message="invalid").
            This Access ID does not exist
        div(ng-messages="RegistrationForm.accessId.$error", md-auto-hide="true")
          div(ng-message="unique_constraint").
            This Access ID has already been registred

    md-dialog-actions
      md-progress-circular(ng-show="RegistrationForm.$pending")
      md-button(ng-click="cancel()") Cancel
      md-button.md-primary(ng-disabled="RegistrationForm.$invalid || RegistrationForm.$pending", type="submit", ng-click="submit()") Create
