//(opened="true")
paper-dialog
  h2 Create User
  form
    paper-dialog-scrollable
      paper-input-container(attr-for-value="")
        label E-Mail
        input(is="iron-input", type="email", [(ngModel)]="model.email")
      {{model.email}}

      paper-input-container(attr-for-value="")
        label Repeat E-Mail
        input(is="iron-input", type="email", [(ngModel)]="model.emailRepeat")

      paper-input-container(attr-for-value="")
        label Password
        input(is="iron-input", type="password", [(ngModel)]="model.password")

      paper-input-container(attr-for-value="")
        label Repeat Password
        input(is="iron-input", type="password", [(ngModel)]="model.passwordRepeat")

      paper-input-container(attr-for-value="")
        label Student Id/Other Id
        input(is="iron-input", type="number", [(ngModel)]="model.navitasId")

  div.buttons
    // paper-button([routerLink]="['/', ['None'] ]") Cancel
    paper-button((click)="cancel()") Cancel
    paper-button.button.primary Create
