md-dialog
  md-toolbar.md-toolbar-tools
    h2 Create User
    span(flex)
    md-button.md-icon-button(ng-click="cancel()")
      md-icon(aria-label="Close dialog") close
  md-dialog-content.md-dialog-content
    div
      md-input-container
        label E-Mail
        input(type="email", ng-model="model.email")

    div
      md-input-container
        label Repeat E-Mail
        input(type="email", ng-model="model.emailRepeat")

    div
      md-input-container
        label Password
        input(type="password", ng-model="model.password")

    div
      md-input-container
        label Repeat Password
        input(type="password", ng-model="model.passwordRepeat")

    div
      md-input-container
        label Student Id/Other Id
        input(ng-model="model.navitasId")

  md-dialog-actions
    md-button(ng-click="cancel()") Cancel
    md-button.md-primary(ng-click="submit()") Create

