.user-status
  md-card
    md-content(layout-padding)
      h3.md-title Current status
      div
        md-input-container
          label Subscription status
          input(ng-model="$ctrl.statusMessages[$ctrl.model.statusMsgKey]", disabled="disabled")
      div
        md-input-container
          label Membership valid untill
          input(ng-model="$ctrl.model.validUntill", disabled="disabled")

  md-card
    md-content(layout-padding)
      h3.md-title
        span 6 month membership 200 kr.

      div
        b This button targets paypals sandbox API, only simulated payments can be made with special test accounts.
        form(action="https://www.sandbox.paypal.com/cgi-bin/webscr", method="post", target="_top")
          input(type="hidden", name="cmd", value="_s-xclick")
          //- old paypal test button
          //- input(type="hidden", name="hosted_button_id", value="KE6ZXLGBP6TRQ")
          input(type="hidden", name="hosted_button_id", value="QBGG5JT5UJD62")
          input(type="hidden", name="custom", value="{{$ctrl.model.userEmail}}")
          input(type="image", src="https://www.sandbox.paypal.com/en_US/DK/i/btn/btn_paynowCC_LG.gif", border="0", name="submit")
          img(alt="", border="0", src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif", width="1", height="1")

  md-card(ng-if="$ctrl.isLocalhost()")
    md-content(layout-padding)
      b Below payment button are for test purposes and will not work with a real paypal account
      b This button is for simulating paypal IPN on localhost, this does not work anywhere else
      form(action="http://localhost:8081/processPayment", method="post", target="_top")
        input(type="hidden", name="cmd", value="_s-xclick")
        input(type="hidden", name="hosted_button_id", value="KE6ZXLGBP6TRQ")
        input(type="hidden", name="custom", value="{{$ctrl.model.userEmail}}")
        input(type="image", src="https://www.sandbox.paypal.com/en_US/DK/i/btn/btn_paynowCC_LG.gif", border="0", name="submit")
        img(alt="", border="0", src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif", width="1", height="1")

  md-card(ng-if="$ctrl.model.transactionHistory.length > 0")
    md-content(layout-padding)
      h3.md-title Transaction history

      table.md-whiteframe-2dp(style="padding: 0")
        thead
          th Amount
          th Payment Date
          th Status
        tbody
          tr(ng-repeat="trx in $ctrl.model.transactionHistory")
            td {{ trx.amount }} {{ trx.currency }}
            td {{ trx.paymentDateParsed }}
            td {{ trx.status }}
