paper-header-panel(mode="standard")
  paper-toolbar
    h1 Navitas Fitness
    paper-tabs(selected="0")
      paper-tab([routerLink]="['MainPage']") Forside
      paper-tab([routerLink]="['Blog']") Blog
      paper-tab([routerLink]="['/', ['Modal'] ]") Registrer

  router-outlet

  router-outlet(name="modal")
