.header-panel(layout="column", layout-fill)
  md-toolbar
    .md-toolbar-tools
      h1.md-title Navitas Fitness
      span(flex)
      md-menu(md-offset="80 45")
        md-button(ng-click="$mdOpenMenu()", md-no-ink="true")
          span Menu
          md-icon menu
        md-menu-content
          md-menu-item(ng-hide="$ctrl.isLoggedIn()")
            md-button(ng-click="$ctrl.openRegistrationDialog($event)") 
              md-icon assignment_ind
              span Registrer
          md-menu-item(ng-hide="$ctrl.isLoggedIn()")
            md-button(ng-click="$ctrl.openLoginDialog($event)") 
              md-icon lock_outline
              span Login
          md-menu-item(ng-show="$ctrl.isLoggedIn()")
            md-button(ng-click="$ctrl.logout($event)") 
              md-icon lock_outline
              span Logout

    md-tabs(md-stretch-tabs="always")
      md-tab(ui-sref="MainPage") 
        md-icon home
        span Forside
      md-tab(ui-sref="Blog")
        md-icon subject
        span Blog
      md-tab(ui-sref="Status")
        md-icon perm_identity
        span Min status

  md-content(flex, layout-padding)
    ui-view
