paper-header-panel.flex(mode="standard")
  paper-toolbar
    h1 Navitas Fitness
    paper-tabs(selected="0")
      paper-tab([routerLink]="['FrontPage']") Forside
      paper-tab([routerLink]="['Blog']") Blog
      paper-tab([routerLink]="['Registrer']") Registrer
  .fit
    router-outlet

