.header-panel(layout="column", layout-fill)
  md-toolbar
    .md-toolbar-tools
      h1.md-title Navitas Fitness
      span(flex)
      md-menu(md-offset="80 45")
        md-button(ng-click="$mdMenu.open()", md-no-ink="true")
          span Menu
          md-icon menu
        md-menu-content
          md-menu-item(ng-hide="$ctrl.isLoggedIn()")
            md-button(ng-click="$ctrl.openRegistrationDialog($event)")
              md-icon assignment_ind
              span Registrer
          md-menu-item(ng-hide="$ctrl.isLoggedIn()")
            md-button(ng-click="$ctrl.openLoginDialog($event)")
              md-icon lock_outline
              span Login
          md-menu-item(ng-show="$ctrl.isLoggedIn()")
            md-button(ng-click="$ctrl.logout($event)")
              md-icon lock_outline
              span Logout

    md-tabs(md-stretch-tabs="always", md-selected="$ctrl.selectedTabIndex")
      md-tab(ng-repeat="tab in $ctrl.tabs" ui-sref="{{tab.id}}", ng-disabled="tab.disabled ? tab.disabled() : false")
        md-icon {{::tab.icon}}
        span {{::tab.text}}

  md-content(flex, layout-padding)
    ui-view
