div(layout="column" layout-fill)
  md-toolbar
    .md-toolbar-tools
      h1 Navitas Fitness
      // span(flex)
      // md-button right bar button
    md-tabs
      md-tab(ui-sref="MainPage") Forside
      md-tab(ui-sref="Blog") Blog
      md-tab(ng-click="$ctrl.openRegistrationDialog($event)") Registrer
  md-content
    ui-view
