html
  head
    script(src="/libs/systemjs/dist/system.src.js")

    script(src="/libs/angular2/bundles/angular2.dev.js")
    script(src="/libs/angular2/bundles/http.dev.js")
    script(src="/libs/angular2/bundles/router.dev.js")
    script(src="/libs/ckeditor/ckeditor.js")

    script.
      System.config({
        defaultExtension: 'js',

        packages: {
          'app': {defaultExtension: 'js'}
          }
      });

      System.import('app/bootstrap').catch(console.log.bind(console));

    link(rel="import" href="/libs/polymer/polymer.html")
    link(rel="import" href="/libs/paper-header-panel/paper-header-panel.html")



  body.fullbleed.layout.vertical
    paper-header-panel.flex(style="width: 1000px; margin: 0 auto;")
      .paper-header
        h1 Navitas Fitness
      .content
        main



