md-dialog
  form(name="ResetPasswordForm", novalidate)
    md-toolbar.md-toolbar-tools
      h2.md-display-2 Reset Password
      span(flex)
      md-button.md-icon-button(ng-click="cancel()")
        md-icon(aria-label="Close dialog") close

    md-content.md-dialog-content
      md-input-container
        label New Password
        md-icon lock_outline
        input(name="password", type="password", ng-model="model.password", required)

      md-input-container
        label Repeat New Password
        md-icon lock_outline
        input(name="passwordRepeat", type="password", ng-model="model.passwordRepeat", required, nf-should-equal="model.password")
        div(ng-messages="ResetPasswordForm.passwordRepeat.$error", md-auto-hide="true")
          div(ng-message="nfShouldEqual").
            The two passwords do not match

    md-dialog-actions
      md-button(ng-click="cancel()") Cancel
      md-button.md-primary(ng-disabled="LoginForm.$invalid", type="submit", ng-click="submit()") Reset
