div

  md-button.md-raised(ng-click="$ctrl.mergeSelected()") Merge

  md-button.md-raised(ng-click="$ctrl.deselectActiveUsers()") Deselect Active Users only

  md-button.md-raised(ng-click="$ctrl.deleteInactiveUsers()") Delete Inactive Users

  h3.md-title Users

  div(ng-if="$ctrl.users.length > 0")
    div.md-whiteframe-2dp(ui-grid="$ctrl.gridOptions", ui-grid-selection)

  h3.md-title Transactions

  table.md-whiteframe-2dp(style="padding: 0")
    thead
      tr
        th Amount
        th Currency
        th Date
        th status
        th isActive

    tbody
      tr(ng-repeat="txn in $ctrl.transactions")
        td {{ txn.amount }}
        td {{ txn.currency }}
        td {{ txn.paymentDate }}
        td {{ txn.status }}
        td {{ txn.isActive }}