
@import 'palette';
@import 'paper-typografi';

body {
  font-size: 14px;
  margin: 0;
  background-color: $paper-grey-50;
  @include paper-font-common-base;
}


paper-card {
  margin: 5px 2px;
  display: block;
  width: calc(100% - 4px);
}

paper-header-panel>* {
  display: block;
  padding: 0 50px;
}

paper-toolbar {
  background: $primary-color-dark;
  color: $primary-color-text
}
.paper-header-panel-0 .paper-header-panel#mainPanel {
  display: block;
}

paper-header-panel::shadow #mainPanel {
  display: block;
}


paper-input::shadow input[type=number]::-webkit-inner-spin-button,
paper-input::shadow input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button.primary {
  background: $accent-color;
  color: $primary-color-text;
}
