
@import 'palette';
@import 'paper-typografi';

body {
  // font-size: 14px;
  // margin: 0;
  background-color: $paper-grey-50;
  // @include paper-font-common-base;
}

blog md-card {
  margin: 5px 2px;
  display: block;
  width: calc(100% - 4px);
}

md-tab-item div:focus {
  outline: none;
}

.header-panel>ui-view, .md-toolbar-tools h1.md-title{
  // display: block;
  padding: 0 50px;
}

md-card>md-content {
  padding-left: 20px;
  padding-right: 20px;
}

// md-toolbar {
//   background: $primary-color-dark;
//   color: $primary-color-text
// }

// .paper-header-panel-0 .paper-header-panel#mainPanel {
//   display: block;
// }

// paper-header-panel::shadow #mainPanel {
//   display: block;
// }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// .button.primary {
//   background: $accent-color;
//   color: $primary-color-text;
// }
