
// // @import 'reset';
@import 'palette';
@import 'paper-typografi';

// h1 {
// }

// body {
//   color: $primary-text-color;
//   // color: $primary-color-text;
//   background-color: $primary-color-light;
// }

// paper-header-panel {
//   // margin: 0 200px;
// }

// paper-toolbar {
//   color: $primary-color-text;
//   background: $primary-color;
// }

// paper-button {
//   color: $primary-color-text;
//   background: $accent-color;
// }

// paper-card card-content {
//   // background: $primary-color-light;
//   color: $primary-text-color;
// }

body {
  font-size: 14px;
  margin: 0;
  background-color: $paper-grey-50;
  @include paper-font-common-base;
}


paper-card {
  margin: 5px 2px;
  display: block;
  width: calc(100% - 4px);
}

paper-header-panel>* {
  display: block;
  padding: 0 50px;
}

paper-toolbar {
  background: $primary-color-dark;
  color: $primary-color-text
}

paper-header-panel::shadow #mainPanel {
  display: block;
}

