div
  button((click)="createBlogPost()") create new
  div(*ngFor="#entry of entries; #i = index")
    span
      button((click)="entry.enabled = !entry.enabled", *ngIf="!entry.enabled") edit
      button((click)="saveEntry(entry)", *ngIf="entry.enabled") save
      button((click)="deleteEntry(entry)") delete

    ck-editor([(content)]="entry.blogEntry.Content", [isEditable]="entry.enabled")
